.custom-carousel {
    width: 80%; /* Adjust the width as needed */
    max-width: 800px; /* Optional: set a max-width */
    margin: 0 auto; /* Center the carousel */
    margin-top: 30px;
    
    
}

.custom-carousel .carousel .slide img {
    height: 550px; /* Adjust the height as needed */
    object-fit: cover; /* Ensure the image covers the container */
    border-radius: 5px;
}

.legend {
    background-color: #5A72A0;
    color: white;
    padding: 10px;
    font-size: 16px;
  }