:root {
  --main-color-dark-blue: #0b0d17;
  --main-color-white: #ffffff;
  --main-color-light-blue: #d0d6f9;
  --font-family-h5-subh2-nav-des: "Barlow Condensed", sans-serif;
  --font-family-h1-4-sub1: "Bellefair", serif;
}

* {
background-color: #121212;
}
