:root {
  --main-color-dark-blue: #0b0d17;
  --main-color-white: #ffffff;
  --main-color-light-blue: #d0d6f9;
  --font-family-h5-subh2-nav-des: "Barlow Condensed", sans-serif;
  --font-family-h1-4-sub1: "Bellefair", serif;
}

.header {
  display: flex;
  /* fixed position to avoid scroll problem  */
  position: fixed;
  top: 0;
  justify-content: space-between;
  width: calc(100vw - 4rem);
  padding: 2rem;
  overflow: visible;
  z-index: 30;
}

.nav-menu {
  position: absolute;
  color: var(--main-color-white);
  background-color: #97979729;
  backdrop-filter: blur(15px);
  height: 100vh;
  width: 55%;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 2.7px;
  /* visibility: hidden; */
  top: 0;
  right: -500px;
  text-align: right;
  padding: 2rem;
  line-height: 3rem;
  transition: right 0.3s ease-in-out;
  z-index: 40;
}
.nav-menu.open {
  /* visibility: visible; */
  right: 0;
}

.nav-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-text {
  text-align: left;
  padding: 2rem 0 0 1rem;
}

.menu-text > li {
  border-bottom: 2px solid transparent;
  margin-right: 6rem;
}

.menu-text > li:hover {
  border-bottom: 2px solid white;
}

.menu-bar {
  background-color: #97979729;
  padding: 34px 112px 34px 50px;
  backdrop-filter: blur(24px);
}

.menu-bar > * {
  padding: 0 20px;
}
.menu-open {
  background: none;
  border: none;
}
